<a href="https://colab.research.google.com/github/rahman213mk23/Tugas-UAS-KECEBUT/blob/main/Tugas_Penggan_UAS_Kecerdasan_Buatan__Muhammad_Aulia_Rahman_235060301111058.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import library

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

Bagian Memasukan Dalam Bentuk .csv

In [ ]:
df = pd.read_csv('Data.csv' ,sep=',')

Memperlihatkan data dari 5 baris pertama

In [ ]:
df.head()

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40   63000       Yes

Menampilkan 5 data terbawah

In [ ]:
df.tail()

    Country  Age  Salary Purchased
35    Spain   33   57000       Yes
36   France   50   84000       Yes
37  Germany   41   66000        No
38    Spain   36   59000        No
39   France   28   43000       Yes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    40 non-null     object
 1   Age        40 non-null     int64
 2   Salary     40 non-null     int64
 3   Purchased  40 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.4+ KB

In [ ]:
missing_values_count = df.isnull().sum()
print(missing_values_count)

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [ ]:
jumlah_duplikasi = df.duplicated().sum()

print(f"Total duplikat: {jumlah_duplikasi}")

Total duplikat: 0

In [ ]:
df = pd.read_csv('Data.csv' ,sep=',')

df = df.drop_duplicates()
df.drop_duplicates(inplace=True)

df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Salary'].fillna(df['Salary'].mean(), inplace=True)

label_encoder = LabelEncoder()
df['Purchased'] = df['Purchased'].map({'Yes': 1, 'No': 0})

X = df[['Salary']]
y = df['Purchased']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

logr = linear_model.LogisticRegression()
logr.fit(X_train,y_train)

def logit2prob(logr, X):
  log_odds = logr.coef_ * X + logr.intercept_
  odds = numpy.exp(log_odds)
  probability = odds / (1 + odds)
  return(probability)

prob_train = logit2prob(logr, X_train)
prob_test = logit2prob(logr, X_test)

train_data = prob_train.ravel()
test_data = prob_test.ravel()
-
print("âœ… 5 Baris Pertama Data Pelatihan (X_train) SETELAH SCALING:")
print(pd.DataFrame(X_train_scaled, columns=['Age_Scaled', 'Salary_Scaled']).head())

classifier = LogisticRegression(random_state=42)
classifier.fit(X_train_scaled, y_train)

y_pred = classifier.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred)

print("\n--- Hasil Ulang Pelatihan Model (Dua Fitur) ---")
print(f"Koefisien Model (Bobot untuk Age dan Salary): {classifier.coef_[0]}")
print(f"Matriks Kebingungan:\n{cm}")
print(f"Akurasi Model: {accuracy:.2f}")

/tmp/ipython-input-2791970215.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2791970215.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].mean(), inplace=True)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

threshold = 0.5

y_pred = (prob_test >= threshold).astype(int)

print("âœ… Keputusan Klasifikasi (y_pred) pada Data Uji Berdasarkan Threshold 0.5:\n")
print(y_pred[:10])
print("-" * 50)


print("\nðŸ“‹ Laporan Klasifikasi:")
print(classification_report(y_test, y_pred))
print("-" * 50)

print("\nðŸ”„ Matriks Kebingungan (Confusion Matrix):")
print(confusion_matrix(y_test, y_pred))

âœ… Keputusan Klasifikasi (y_pred) pada Data Uji Berdasarkan Threshold 0.5:

[[1]
 [0]
 [1]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]]
--------------------------------------------------

ðŸ“‹ Laporan Klasifikasi:
              precision    recall  f1-score   support

           0       0.50      0.20      0.29         5
           1       0.50      0.80      0.62         5

    accuracy                           0.50        10
   macro avg       0.50      0.50      0.45        10
weighted avg       0.50      0.50      0.45        10

--------------------------------------------------

ðŸ”„ Matriks Kebingungan (Confusion Matrix):
[[1 4]
 [1 4]]

Bagian Encoding Data